.host-details {
    padding: 4rem 1rem;
}

.host-details-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.host-details .redirect {
    color: #155EEF;
    border: 2px solid #155EEF;
    background-color: white;
    border-radius: 8px;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    display: block;
    max-width: fit-content;
    margin: 1rem 0;
}

.host-details-filter {
    background: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(45, 45, 45, 0.15);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem;
}

.host-details-info {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.host-details-info>div {
    background: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(45, 45, 45, 0.15);
    border-radius: 8px;
    flex-grow: 1;
    flex-basis: 350px;
    padding: 1.5rem;
    height: fit-content;
}

.host-details-info>div h3 {
    color: #2D2D2D;
    font-size: 1.1rem;
}

.host-details .username {
    display: flex;
    align-items: center;
    row-gap: 1rem;
    column-gap: 3rem;
    flex-wrap: wrap-reverse;
}

.host-details .username>div {
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.host-details .action-btn {
    padding: .6rem 1rem;
    font-size: .9rem;
    font-weight: 600;
}

.host-details .suspend {
    color: #F2994A;
    border: 2px solid #F2994A;
    background-color: white;
    border-radius: 8px;
}

.host-details .delete {
    color: #FF3B30;
    border: 2px solid #FF3B30;
    background-color: white;
    border-radius: 8px;
}

.host-details .veri {
    color: #219653;
    border: 2px solid #219653;
    background-color: white;
    border-radius: 8px;
}

.host-details-filter .profile {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: hsl(0, 0%, 60%);
}

.host-details-heading h2 {
    color: #2D2D2D;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.host-details-heading p {
    color: #2D2D2D;
    font-size: 1rem;
    font-weight: 500;
}

.host-details-profile {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.host-details-profile>img {
    height: 100px;
}

.host-details-profile .role {
    color: #155EEF;
    font-size: 1rem;
    font-weight: 600;
    margin: .4rem 0;
}

.host-details-profile .status {
    color: rgb(33, 32, 32);
    font-size: .9rem;
    font-weight: 600;
}

.host-details-profile .contact {
    color: #2D2D2D;
    font-size: .9rem;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: .5rem;
}

.host-details-profile p {
    color: #2D2D2D;
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.host-details-profile h4 {
    color: #2D2D2D;
    font-size: 1.5rem;
}

.host-details .category-range {
    background: #E7E7E7;
    border-radius: 10px;
    display: flex;
    height: fit-content;
}

.host-details .category-range button {
    background: transparent;
    color: rgba(45, 45, 45, 0.8);
    border-radius: 8px;
    padding: .7rem 1rem;
    font-size: .9rem;
    font-weight: 600;
    border: none;
    flex-grow: 1;
}

.host-details .category-range .active-btn {
    background: #155EEF;
    color: white;
}

.profile-pic {
    min-height: 140px;
    max-height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid rgb(184, 177, 177);
}

.host-details .verified {
    color: #219653;
    font-size: 1rem;
}

.host-details .verified::before {
    content: '';
    display: inline-block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: #219653;
    margin-right: 5px;
}

.host-details .pending {
    color: #F2994A;
    font-size: 1rem;
}

.host-details .pending::before {
    content: '';
    display: inline-block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: #F2994A;
    margin-right: 5px;
}