.host {
    padding: 2rem;
}

.host-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hostheading h2 {
    color: #2D2D2D;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.host-heading p {
    color: #2D2D2D;
    font-size: 1rem;
    font-weight: 500;
}

.host-heading button {
    background: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(45, 45, 45, 0.15);
    border-radius: 8px;
    padding: .7rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    display: flex;
    align-items: center;
    gap: .7rem;
}

.host-type {
    display: flex;
    background: #E7E7E7;
    border-radius: 10px;
    margin: 2rem 0;
    max-width: fit-content;
}

.host-type button {
    background: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: #2D2D2D;
    padding: .7rem 1.5rem;
    border-radius: 10px;
    flex-grow: 1;
}

.host-type .active {
    background: #3C79F2;
    color: white;
}

.individual-host .table-section,
.buisness-host .table-section {
    overflow-x: scroll;
    padding-bottom: 7rem;
}

.host table {
    border-collapse: collapse;
    min-width: 1000px;
    margin: 25px 0;
}

.host table thead th {
    padding: 1rem 0 1rem 1rem;
    background: transparent;
    border: none;
    font-size: .9rem;
    font-weight: 500;
}

.host table thead tr {
    border: none;
    background-color: #3C79F2;
    border-radius: 10px;
    text-align: left;
    color: white;
}

.host table th img {
    height: 17px;
    width: 17px;
    object-fit: cover;
    transform: translate(0, 4px);
}

.host table tbody tr td {
    max-width: 180px;
    font-size: .9rem;
    text-transform: capitalize;
    font-weight: 500;
    padding-left: 1rem;
}

.host table tbody tr td .demo-dp {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.host .verified {
    color: #219653;
    background: #D5E8DD;
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
    border-radius: 16px;
    margin: .5rem 0;
    padding: .7rem 1rem;
    display: inline-block;
    width: 100%;
}

.host .pending {
    color: #F2994A;
    background: #F5E8BD;
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
    border-radius: 16px;
    margin: .5rem 0;
    padding: .7rem 1rem;
    display: inline-block;
    width: 100%;
}

.host .pagination {
    display: flex;
    gap: 2rem;
}

.host .pagination li {
    padding: 10px;
    background: white;
    color: #3C79F2;
    border: 2px solid #3C79F2;
    outline: 1px solid #aac3f5;
    outline-offset: 2px;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
}

.host .pagination .current {
    background: #3C79F2;
    color: white;
}

.host table tbody tr .options {
    position: relative;
    cursor: pointer;
    padding-left: 2rem !important;
}