.pagination {
    background: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(45, 45, 45, 0.15);
    border-radius: 8px;
    margin: 0 1rem 0 auto;
    max-width: fit-content;
    display: flex;
    align-items: center;
}

.pagination img {
    height: 30px;
    cursor: pointer;
}

.pagination button {
    background: white;
    border: none;
    color: #2d2d2d;
    font-size: 1rem;
    font-weight: 600;
    padding: .7rem 1rem;
}

.pagination .current {
    color: white;
    background: #155EEF;
}