.return-nav {
    display: block;
}

.not-return-nav {
    display: none;
}

.sidenav {
    padding: 20px 22px;
    position: fixed;
    width: 260px;
    height: 100%;
    transition: all 0.3s ease;
    overflow-x: hidden;
    z-index: 1000;
    background: white;
}

.sidenav .logo-link {
    margin: 0 !important;
    padding: 0 !important;
}
.sidenav .logo {
    width: 100%;
    margin-bottom: 1.25rem;
}
.sidenav a {
    color: #2D2D2D;
    font-weight: 600;
    font-size: .9rem;
    margin-bottom: 10px;
    padding: 0.625rem 1.25rem;
    display: block;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 1rem;
}

.active {
    background: hsla(220, 87%, 51%, 1);
    color: white !important;
}

.active path {
    fill: white !important;
}

.sidenav h3 {
    color: rgba(45, 45, 45, 0.70);
    font-family: 'Raleway' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-bottom: 1.5rem;
    text-align: center;
}

.sidenav h4 {
    color: #2D2D2D;
    font-family: 'Raleway' sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0125rem;
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.sidenav h4 span { 
    display: inline-flex;
    margin-left: 5px;
}
.sidenav-added-services {
    margin: 10px 0;
}
div.horizontal-divider {
    background: rgba(45, 45, 45, 0.40);
    width: 100%;
    height: 1px;
    margin: 20px auto;
}
div.upgrade-text {
    color: #2D2D2D;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
}
div .host-button {
    display: flex;
    padding: 4px 34px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent;
    border-radius: 4px;
    border: 1.5px solid var(--primary-60, #155EEF);
    color: var(--primary-60, #155EEF);
    font-family: 'Raleway' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 228.571% */
    letter-spacing: 0.15px;
    margin: 10px 0;
}
.hamburger {
    display: none;
    width: fit-content;
    position: fixed;
    z-index: 900;
    top: 1.5625rem;
    left: 1rem;
    cursor: pointer;
    background: white;
    padding: 5px;
}

.hamburger span {
    display: block;
    height: 2px;
    width: 20px;
    margin: 3px;
    background: hsla(0, 0%, 18%, 0.7);
}

.logout {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    background: #EB5757;
    font-weight: 600;
    font-size: .9rem;
    margin-bottom: 1.3rem;
    padding: .5rem 1rem;
    border-radius: 8px;
    border: none;
    width: 100%;
}

@media (max-width: 650px) {
    .sidenav {
        position: fixed;
        width: 260px;
        height: 100%;
        transition: 0.5s;
        overflow-x: hidden;
        z-index: 1000;
        background: white;
        transform: translate(-110%, 0px);
    }

    .hamburger {
        display: block;
    }

    .hide-side-nav {
        transform: translate(0%, 0px);
    }
}