.overview {
    padding: 1.25rem;
}

.overview-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-inline: 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.overview-head .search-bar {
    width: 100%;
    max-width: 497px;
}

.overview-head .loggedin-user {
    display: flex;
    justify-content: center;
    align-items: center;

}
.overview-head .loggedin-user .notification-bell { 
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    aspect-ratio: 1/1;
}
.overview-head .loggedin-user .notification-avatar { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 1px 0 6px;
}
.overview-heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.overview-heading.desktop {
    display: block;
}
.overview-heading.mobile {
    display: none;
}
@media (max-width: 1024px) {
    
    .overview-heading.desktop {
        display: none;
    }
    .overview-heading.mobile {
        display: flex;
    }
}
@media (max-width: 650px) {
    .overview-head {
        margin-left: 1.5rem;
    }
}
@media (max-width: 450px) {
    .notification-avatar, .loggedin-user-details {
        display: none !important;
    }
}
.overview-heading.mobile p {
    margin: .6rem 0;
}

.overview-filter {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(45, 45, 45, 0.15);
    border-radius: 8px;
    padding: 1.5rem;
}

.overview-filter img {
    cursor: pointer;
}

.overview-filter h5 {
    font-size: 1rem;
    color: hsl(0, 0%, 20%);
    margin-bottom: 10px;
}

.overview>p {
    color: #2D2D2D;
    font-size: 1rem;
    font-weight: 500;
    margin: .5rem 0;
}

.overview .total_amount {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

@media (max-width: 1130px) {
    .overview .total_amount {
        gap: 2rem;
        justify-content: center;
    }
}
.overview .total_amount>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 200px;
    max-width: 200px;
    padding: 25px;
    border-radius: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    border-right: 1px solid rgba(0, 0, 0, 0.10);
    border-left: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 1px 2px 4px 0px rgba(45, 45, 45, 0.15);
}
.overview .total_amount>div .icon-div:nth-child(3) {
    padding: 15px;
}
.overview .total_amount>div .icon-div {
    background-color: #155EEF;
    width: 50px;
    height: 50px;
    padding: 10px;
    /* aspect-ratio: 1/1; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}

.overview .total_amount>div .details-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.overview .total_amount>div .details-div p:nth-child(1) {
    font-size: 1.75rem;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-bottom: .6rem;
}
.overview .total_amount>div .details-div p:nth-child(2) {
    color: #2D2D2D;
    font-family: Raleway;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}
.overview .total_amount>div .details-div .stat-div {
    display: flex;
    align-items: center;
    margin-top: 6.5px;
}
.overview .total_amount>div .details-div .red-dot {
    background-color: #EB5757;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 6px;
}
.overview .total_amount>div .details-div .green-dot {
    background-color: #219653;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 6px;
}
.overview .total_amount>div .details-div .stat-paragraph {
    color: #2D2D2D;
    font-family: Raleway;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    white-space: nowrap;
}
.overview .total_amount div {
    background: white;
    color: #2D2D2D;
}

.overview .total {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.overview .total>div {
    background: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(45, 45, 45, 0.15);
    border-radius: 8px;
    padding: 1rem;
    flex-basis: 350px;
    flex-grow: 1;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.overview .total>div button {
    border: 2px solid #155EEF;
    border-radius: 4px;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .7rem;
}

.overview .total>div button {
    color: #155EEF;
    font-size: .85rem;
    font-weight: 500;
}