.booking-list {
    padding: 2rem 0 2rem 2rem;
}

.booking-list-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

.booking-list-heading h2 {
    color: #2D2D2D;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.booking-list-heading p {
    color: #2D2D2D;
    font-size: 1rem;
    font-weight: 500;
}

.booking-list-heading button {
    background: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(45, 45, 45, 0.15);
    border-radius: 8px;
    padding: .7rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    display: flex;
    align-items: center;
    gap: .7rem;
}

.booking-list .table-section {
    margin: 1rem 0;
    padding: 1rem 0;
    overflow-x: scroll;
}

.booking-list table {
    border-collapse: collapse;
    min-width: 1000px;
    margin: 25px 0;
}

.booking-list table thead th {
    padding: 1rem;
    background: transparent;
    border: none;
    font-size: .8rem;
    font-weight: 500;
}

.booking-list table thead tr {
    border: none;
    background-color: #3C79F2;
    border-radius: 10px;
    text-align: left;
    color: white;
}

.booking-list table th img {
    height: 17px;
    width: 17px;
    object-fit: cover;
}

.booking-list table tbody tr td {
    padding: 1rem;
    font-size: .8rem;
    text-transform: capitalize;
    font-weight: 500;
}

/* .booking-list table tbody tr .status {
    background: #D5E8DD;
    border-radius: 10px;
    color: #219653;
}

.booking-list table tbody tr .options {
    position: relative;
} */