.option-details {
    width: 110px;
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(45, 45, 45, 0.15);
    border-radius: 8px;
    right: 0;
    top: 70%;
    padding: 0rem 1rem;
    border-radius: 10px;
}

.option-details span {
    display: block;
    color: #2D2D2D;
    font-size: .8rem;
    font-weight: 600;
    margin: 1rem 0;
    cursor: pointer;
}

.option-details span:nth-child(1) {
    color: #155EEF;
}