.apartment-details {
    padding: 2rem 1rem;
}

.apartment-details h3 {
    color: #2D2D2D;
    font-size: 1.3rem;
}

.apartment-details h4 {
    color: #2D2D2D;
    font-size: 1.1rem;
    margin: 1rem 0;
}

.apartment-details .images>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem 0;
}

.apartment-details .images figure {
    flex-grow: 1;
    flex-basis: 200px;
}

.apartment-details .images img {
    border-radius: 10px;
}

.apartment-details .details p {
    font-size: .9rem;
    margin: .5rem 0;
    color: #2D2D2D;
    font-weight: 600;
    text-transform: capitalize;
}

.apartment-details .details p span {
    font-weight: 700;
    margin-right: 10px;
}

.apartment-details .suspend {
    color: #F2994A;
    border: 2px solid #F2994A;
    background-color: white;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    padding: .6rem 1.5rem;
    margin: 1rem 0;
}