.apartment {
    padding: 2rem 0 2rem 2rem;
}

.apartment-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

.apartment-heading h2 {
    color: #2D2D2D;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.apartment-heading p {
    color: #2D2D2D;
    font-size: 1rem;
    font-weight: 500;
}

.apartment-heading button {
    background: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(45, 45, 45, 0.15);
    border-radius: 8px;
    padding: .7rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    display: flex;
    align-items: center;
    gap: .7rem;
}

.apartment .table-section {
    margin: 1rem 0;
    padding: 1rem 1rem 3rem 0;
    overflow-x: scroll;
}

.apartment table {
    border-collapse: collapse;
    min-width: 1000px;
    margin: 25px 0;
}

.apartment table thead th {
    padding: 1rem;
    background: transparent;
    border: none;
    font-size: .9rem;
    font-weight: 500;
}

.apartment table thead tr {
    border: none;
    background-color: #3C79F2;
    border-radius: 10px;
    text-align: left;
    color: white;
}

.apartment table th img {
    height: 17px;
    width: 17px;
    object-fit: cover;
    transform: translate(0, 4px);
}

.apartment table tbody tr td {
    max-width: 180px;
    font-size: .9rem;
    line-height: 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
    padding-left: 1rem;
}

.apartment .act {
    color: #219653;
    background: #D5E8DD;
    text-align: center;
    font-weight: 600;
    border-radius: 16px;
    margin: .5rem 0;
    padding: .7rem 1rem;
    display: inline-block;
    width: 100%;
}

.apartment .sus {
    color: #F2994A;
    background: #F5E8BD;
    text-align: center;
    font-weight: 600;
    border-radius: 16px;
    margin: .5rem 0;
    padding: .7rem 1rem;
    display: inline-block;
    width: 100%;
}

.apartment table tbody tr .options {
    position: relative;
    cursor: pointer;
    padding-left: 2rem !important;
}