.sidenav {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    position: fixed;
    width: 260px;
    height: 100%;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 1000;
}

.sidenav .logo {
    margin-bottom: 1.5rem;
}

.sidenav a {
    color: hsla(0, 0%, 18%, 0.7);
    font-weight: 600;
    font-size: .9rem;
    margin-bottom: 1.3rem;
    padding: .5rem 1rem;
    display: block;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 1rem;
}

.sidenav h3 {
    color: rgba(45, 45, 45, 0.7);
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.sidenav h4 {
    color: hsl(220, 87%, 51%);
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.active {
    background: hsla(220, 87%, 51%, 1);
    color: white;
}

.sidenav-added-services {
    margin: 3rem 0;
}