.tail-spin svg {
    max-width: fit-content;
    display: block;
    margin: auto;
}

.lds-dual-ring {
    display: block;
    width: 80px;
    height: 80px;
    max-width: fit-content;
    display: block;
    margin: auto;
}

.lds-dual-ring:after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    margin: 8px auto;
    border-radius: 50%;
    border: 3px solid #7367f0;
    border-color: #7367f0 transparent #7367f0 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}