.users {
    padding: 2rem 1rem;
}

.users-list-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users-list-heading h2 {
    color: #2D2D2D;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.users-list-heading p {
    color: #2D2D2D;
    font-size: 1rem;
    font-weight: 500;
}

.users-list-heading button {
    background: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(45, 45, 45, 0.15);
    border-radius: 8px;
    padding: .7rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    display: flex;
    align-items: center;
    gap: .7rem;
}

.users .table-section {
    margin: 1rem 0;
    padding: 1rem 0 7rem 0;
    overflow-x: scroll;
}

.users table {
    border-collapse: collapse;
    min-width: 1050px;
    margin: 25px 0;
}

.users table thead th {
    padding: 1rem;
    background: transparent;
    border: none;
    font-size: .9rem;
    font-weight: 500;
}

.users table thead tr {
    border: none;
    background-color: #3C79F2;
    border-radius: 10px;
    text-align: left;
    color: white;
}

.users table th img {
    height: 17px;
    width: 17px;
    object-fit: cover;
    transform: translate(0, 4px);
}

.users table tbody tr td {
    max-width: 180px;
    font-size: .9rem;
    text-transform: capitalize;
    font-weight: 500;
    padding-left: 1rem;
}

.users .verified {
    color: #219653;
    background: #D5E8DD;
    font-size: .9rem;
    font-weight: 500;
    border-radius: 16px;
    margin: .5rem 0;
    padding: .7rem 1.5rem;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.users .pending {
    color: #F2994A;
    background: #F5E8BD;
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
    border-radius: 16px;
    margin: .5rem 0;
    padding: .7rem 1.7rem .7rem 1rem;
    display: inline-block;
    width: 80%;
}

.users table tbody tr td .demo-dp {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.users .pagination {
    display: flex;
    gap: 2rem;
}

.users .pagination li {
    padding: 10px;
    background: white;
    color: #3C79F2;
    border: 2px solid #3C79F2;
    outline: 1px solid #aac3f5;
    outline-offset: 2px;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
}

.users .pagination .current {
    background: #3C79F2;
    color: white;
}

.users table tbody tr .options {
    position: relative;
    cursor: pointer;
    padding-left: 2rem !important;
}