.users {
    padding: 1.25rem;
}


.users-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-inline: 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.users-head .search-bar {
    width: 100%;
    max-width: 497px;
}

.users-head .loggedin-user {
    display: flex;
    justify-content: center;
    align-items: center;

}
.users-head .loggedin-user .notification-bell { 
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    aspect-ratio: 1/1;
}
.users-head .loggedin-user .notification-avatar { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 1px 0 6px;
}
.users-heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.users-heading div h2 {
    color: #2D2D2D;
    font-family: 'Raleway' sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 100% */
}
.users-heading.desktop {
    display: block;
}
.users-heading.mobile {
    display: none;
}
@media (max-width: 1024px) {
    
    .users-heading.desktop {
        display: none;
    }
    .users-heading.mobile {
        display: flex;
    }
}
@media (max-width: 650px) {
    .users-head {
        margin-left: 1.5rem;
    }
}
@media (max-width: 450px) {
    .notification-avatar, .loggedin-user-details {
        display: none !important;
    }
}
.users-heading.mobile p {
    margin: .6rem 0;
}

.users .table-section {
    margin: 1rem 0;
    padding: 1rem 0 7rem 0;
    overflow-x: scroll;
}

.users table {
    /* border-collapse: collapse; */
    border-collapse: separate;
    min-width: 1050px;
    margin: 25px 0;
    border-spacing: 0 6px;
}
.users table tbody {
    background-color: white !important;
}
.users table thead th {
    padding: 1rem;
    background: transparent;
    border: none;
    font-size: .9rem;
    font-weight: 500;
}

.users table thead tr:first-child td:first-child { 
    border-top-left-radius: 10px; 
}
.users table thead tr {
    border: none;
    background-color: #3C79F2;
    border-radius: 10px;
    text-align: left;
    color: white;
    margin-bottom: 10px;
}

.users table th img {
    height: 17px;
    width: 17px;
    object-fit: cover;
    transform: translate(0, 4px);
}

.users table tbody tr{
    border: 1px solid rgba(0, 0, 0, 0.10);
    margin-bottom: 2px;
    border-collapse: collapse;
    border-spacing: 0 1em;

    border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
}
.users table tbody tr td {
    max-width: 210px;
    font-size: .9rem;
    text-transform: capitalize;
    font-weight: 500;
    padding-left: 1rem;
    background-color: white;
}
.users table tbody tr td:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.10);;
}
.users table tbody tr td:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.10);;
}
.users table tbody tr td {
    border-top: 1px solid rgba(0, 0, 0, 0.10);;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);;
}
.users .verified {
    color: #219653;
    background: #D5E8DD;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 16px;
    margin: .5rem 0;
    padding: 0.5rem 0.75rem;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.users .pending {
    color: #F2994A;
    background: #F5E8BD;
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
    border-radius: 16px;
    margin: .5rem 0;
    padding: .7rem 1.7rem .7rem 1rem;
    display: inline-block;
    width: 80%;
}

.users table tbody tr td .demo-dp {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.users .pagination {
    display: flex;
    gap: 2rem;
}

.users .pagination li {
    padding: 10px;
    background: white;
    color: #3C79F2;
    border: 2px solid #3C79F2;
    outline: 1px solid #aac3f5;
    outline-offset: 2px;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
}

.users .pagination .current {
    background: #3C79F2;
    color: white;
}

.users table tbody tr .options {
    position: relative;
    cursor: pointer;
    padding-left: 2rem !important;
}