.login {
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 0 clamp(.5rem, 3vw, 8rem);
    min-height: 80vh;
}

.login figure {
    flex-grow: 2;
    flex-basis: 500px;
}

.login>div {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 0rem 1rem;
    max-width: 400px;
    margin: 1rem auto 3rem auto;
}

.login form {
    margin: 1rem auto 1rem auto;
}

.login h2 {
    color: hsl(253, 13%, 40%);
    font-weight: 400;
    font-size: 1.8rem;
}

.login p {
    font-size: .9rem;
    color: hsl(253, 13%, 40%);
}

.login .error {
    color: red;
    font-weight: 400;
    margin-bottom: .5rem;
}

.login .api-error {
    color: rgb(248, 16, 16);
    font-size: 1.1rem;
    display: block;
    margin: 1rem auto;
    width: fit-content;
}

.login label {
    font-size: 1rem;
    color: hsl(253, 13%, 40%);
    display: block;
    margin-bottom: .5rem;
    font-weight: 500;
}

.login input {
    display: block;
    border: .5px solid hsl(253, 13%, 40%);
    border-radius: 5px;
    padding: .7rem;
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
    background: white;
}

.mail {
    margin-bottom: 1rem;
}

.login .input-error {
    border: .3px solid red;
}

.login input:focus {
    border: .2px solid #7367f0;
    outline: none;
}

.login .password {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 5px;
    background: white;
    position: relative;
    margin-bottom: 2rem;
}

.login .password span {
    position: absolute;
    right: .7rem;
    cursor: pointer;
}

.login button {
    background: #7367f0;
    color: white;
    border: none;
    padding: .7rem 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    font-size: .9rem;
    display: block;
    margin: 1rem auto;
    width: 100%;
    max-width: 100%;
}

@media(max-width: 1080px) {
    .login {
        align-items: center;
    }

    .login figure {
        position: absolute;
        z-index: -1;
        opacity: .2;
    }
}