nav {
    padding: 1rem;
    background: white;
    min-height: 100vh;
}

nav .logo {
    background: linear-gradient(#695FCD, #8F85F3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 500;
}