.overview {
    padding: 2rem clamp(1rem, 4vw, 10rem);
}

.overview .total_amount {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin: 2rem 0;
}

.overview .total_amount>div {
    color: white;
    padding: 1.3rem;
    flex-grow: 1;
    flex-basis: 180px;
    margin: auto;
    max-width: 300px;
}

.overview .total_amount>div p:nth-child(1) {
    font-size: 1.5rem;
    margin-bottom: .7rem;
}

.overview .total_amount>div p:nth-child(2) {
    font-size: .9rem;
}

.overview .total_amount div:nth-child(1) {
    background: linear-gradient(102.03deg, #046BA6 0%, #0096EB 100%);
    border-radius: 10px;
}

.overview .total_amount div:nth-child(2) {
    background: linear-gradient(101.5deg, #0A9A50 0%, #00C861 101.34%);
    border-radius: 10px;
}

.overview .total_amount div:nth-child(3) {
    background: linear-gradient(101.74deg, #C69014 0%, #DBB252 102.07%);
    border-radius: 10px;
}

.overview .total_amount div:nth-child(4) {
    background: linear-gradient(78.39deg, #FF5B3D 2.71%, rgba(233, 78, 50, 0.79) 98.86%);
    border-radius: 10px;
}