.search {
    background: #FCFCFC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem;
    border: 0.5px solid #AAAAAA;
    border-radius: 8px;
    margin: 1.5rem auto;
    width: clamp(200px, 100%, 400px);
}

.search input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(43, 43, 43, 0.6);
    width: 100%;
}

.search img {
    cursor: pointer;
}

.search input:focus {
    border: none;
    outline: transparent;
}

.search input[type="search"]::-webkit-search-cancel-button {
    display: none;
}